header
{
	background-color: blueviolet;
	color: white;
	text-align: center;
	padding: 10px;
	margin: 0;
}

h2
{
	margin: 0;
}

body
{
	margin: 0;
}

a 
{
	margin-top: 10px;
	margin: 20px;
}

button
{
	padding: 10px;
	margin-top: 10px;
	border: solid;
	border-radius: 10px;
	color: white;
	background-color: orange;
}

form
{
	margin-top: 10px;
	margin-left: 10px;
}

